{% extends 'base.html' %}

{% block content %}
{% load static %}


	<div class="container-contact100">
		<div class="contact100-map" style="background-image: url({% static 'user/images/bg-3.jpg' %});" data-scrollwhell="0" data-draggable="1"></div>

		<div class="wrap-contact100">
			<div class="contact100-form-title" style="background-image: url({% static 'user/images/bg-01.jpg' %});">
				<span class="contact100-form-title-1">
					Drop Your Resume
				</span>

				<span class="contact100-form-title-2">
					Feel free to drop us a line below!
				</span>
			</div>

			<form id="form-00" class="contact100-form validate-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Full Name:</span>
					<input class="input100" type="text" name="fullname" placeholder="Enter full name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Job Type Required">
                    <span class="label-input100">Job Type:</span>
                    <select class="input100"  name="job_type"  style="height: 45px;border: transparent;">
                        <option></option>
                        <option>Python Developer</option>
                        <option>GO Developer</option>
                        <option>Web Developer</option>
                    </select>
					<!-- <input class="input100" type="text" name="email" placeholder="Enter email addess"> -->
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Experiance required">
                    <span class="label-input100">Year of Experiance:</span>
                    <select class="input100"  name="experiance"  style="height: 45px;border: transparent;">
                        <option></option>
                        <option>Fresher</option>
                        <option>0 - 1 year</option>
                        <option>1 - 2 year</option>
                        <option>2 - 3</option>
                        <option>3 - more years</option>
                    </select>
				</div>

                <div class="wrap-input100 validate-input" data-validate="Choose DOB">
                    <span class="label-input100">DOB:</span>
                    <input class="input100" type="date" name="date_of_birth">
                </div>
                <div class="wrap-input100 validate-input" data-validate="Choose Gender">
                    <span class="label-input100">Gender:</span>
                    <select class="input100"  name="gender" style="height: 45px;border: transparent;">
                            <option></option>
                            <option>Male</option>
                            <option>Female</option>
                    </select>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate="Enter Days after you want join">
					<span class="label-input100">Notice Period :</span>
					<input class="input100" type="number" name="notice" placeholder="Notice Period (Days)">
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate="Expected Salary">
					<span class="label-input100">Expected Salary :</span>
					<input class="input100" type="number" name="salary" placeholder="Enter Salary">
					<span class="focus-input100"></span>
				</div>
                <div class="wrap-input100 validate-input" data-validate="Upload Resume">
                    <span class="label-input100">Upload Resume:</span>
                    <input class="input100" type="file" name="resume">
                </div>

                <!-- <div class="wrap-input100 validate-input" data-validate="Phone Number is required">
					<span class="label-input100">Mobile Number:</span>
                    <input class="input100" type="tel" id="myphone" name="mobile" placeholder="Enter Phone Number" pattern="[6-9]{1}[0-9]{9}">
                    <span class="focus-input100"></span>
                </div>
                <div id="myDIV" class="wrap-input100" data-validate="OTP is required">
                    <input class="input100" type="tel" name="otp" placeholder="OTP">
                    <span class="focus-input100"></span>
                </div>
                <button class="btn btn-info">Verify OTP</button>
  -->           
                <div class="wrap-input100">
                    <div class="g-recaptcha" data-sitekey="6LfWINsZAAAAAJtSy_CN-O0Tp9dWqnjylAJ1EDTW"></div>
                </div>
                <div>
                    {% for message in messages %}
                    <h4 style="color: red; size: 10px;">{{message}}</h4>
                    {% endfor %}
                </div>
				<div class="container-contact100-form-btn hidden">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
                </div>
                
			</form>
		</div>
	</div>


<div id="dropDownSelect1"></div>


<!-- <style>
    #myDIV{
        display: none;
    }
</style>
<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        x.style.display = "block"
    
        var mobile= document.getElementById("myphone").value

        var url='/mobile/' 
        fetch(url,{
            method:'POST',
            headers:{'X-CSRFToken':csrftoken,
            'content-Type':'application/json',
            },
            body:JSON.stringify({'mobile':mobile})
        })
        .then((response) =>{
            return response.json()
        })
        .then((data) =>{
            console.log("otp send")
        })
    }

</script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
  </script> -->
{% endblock %}