{% extends 'base.html' %}

{% block content %}
{% load static %}


	<div class="container-contact100">
		<div class="contact100-map" style="background-image: url({% static 'user/images/bg-3.jpg' %});" data-scrollwhell="0" data-draggable="1"></div>

		<div class="wrap-contact100">
			<div class="contact100-form-title" style="background-image: url({% static 'user/images/bg-01.jpg' %});">
				<span class="contact100-form-title-1">
					Thank you for Droping Your Resume
				</span>

				<span class="contact100-form-title-2">
					We will Contact You Shortly!
                </span>
                <a href="{% url 'index' %}"><button>Home</button></a>
			</div>

		</div>
	</div>



	<div id="dropDownSelect1"></div>


<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
  </script>
{% endblock %}