{% extends 'adminbase.html' %}

{% block content %}
<!-- table bootstratp -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
<!--  -->
<div class="container">
    <h1>User Table</h1>
    
    <div id="toolbar">
            <select class="form-control">
                    <option value="">Export Basic</option>
                    <option value="all">Export All</option>
                    <option value="selected">Export Selected</option>
            </select>
    </div>
    
    <table id="table" 
                 data-toggle="table"
                 data-search="true"
                 data-filter-control="true" 
                 data-show-export="true"
                 data-click-to-select="true"
                 data-toolbar="#toolbar"
           class="table-responsive">
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="prenom" data-filter-control="input" data-sortable="true">Name</th>
                <th data-field="date" data-filter-control="select" data-sortable="true">Gender</th>
                <th data-field="examen" data-filter-control="select" data-sortable="true">Job Category</th>
                <th data-field="note" data-sortable="true">Year of Experiance</th>
                <th data-field="cv">Resume</th>
                <th>Action</th>
            </tr>
        </thead>
        <!-- {% %} -->
        <tbody>
            <tr>
                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                <td>Jitender</td>
                <td>01/09/2015</td>
                <td>Français</td>
                <td>12/20</td>
            </tr>
        </tbody>
    </table>
    </div>
<script>

var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    })

		var trBoldBlue = $("table");

	$(trBoldBlue).on("click", "tr", function (){
			$(this).toggleClass("bold-blue");
	});

</script>

{% endblock %}