{% extends 'adminbase.html' %}

{% block content %}
<!-- table bootstratp -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
<!--  -->

<div class="container">
    <h1>Stock Out </h1>
    
    <table id="table" 
                 data-toggle="table"
                 data-search="true"
                 data-filter-control="true" 
                 data-show-export="true"
                 data-click-to-select="true"
                 data-toolbar="#toolbar"
           class="table-responsive">
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="prenom" >Name</th>
                <th data-field="date" >Date</th>
                <th data-field="examen" data-filter-control="select" data-sortable="true">Serial Number</th>
                <th data-field="note" data-sortable="true">Clientel</th>
          <th data-field="phone" >Phone Number</th>
          <th data-field="price" >Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                <td>Jitender</td>
                <td>01/09/2015</td>
                <td>9876</td>
                <td>Jendie</td>
          <td>071234567</td>
          <td>4500</td>
            </tr>
            <tr>
                <td class="bs-checkbox "><input data-index="1" name="btSelectItem" type="checkbox"></td>
                <td>Jahid</td>
                <td>05/09/2015</td>
                <td>1234</td>
                <td>Style</td>
          <td>071234567</td>
          <td>4500</td>
            </tr>
            <tr>
                <td class="bs-checkbox "><input data-index="2" name="btSelectItem" type="checkbox"></td>
                <td>Valentin</td>
                <td>05/09/2015</td>
                <td>9876</td>
                <td>jendie</td>
          <td>071234567</td>
          <td>4500</td>
            </tr>
            <tr>
                <td class="bs-checkbox "><input data-index="3" name="btSelectItem" type="checkbox"></td>
                <td>Milton</td>
                <td>05/09/2015</td>
                <td>2345</td>
                <td>Space</td>
          <td>071234567</td>
          <td>4500</td>
            </tr>
            
            
            
        </tbody>
    </table>
    </div>

<script>

var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    })

		var trBoldBlue = $("table");

	$(trBoldBlue).on("click", "tr", function (){
			$(this).toggleClass("bold-blue");
	});

</script>

{% endblock %}